{% include "header.html" %}
{% load i18n %}
    <div class="container-fluid">
        <aside>
            <div id="sidebar">
                {% include "sidebar.html" %}
            </div>
        </aside>

        <div class="main">
         
			{% if validlink %}
			<h2>Okay! Time to reset your password</h2>
			<form method="post" action=".">
			  {% csrf_token %} 
			  {{ form.as_p }}

			  <input type="submit" value="{% trans 'Submit' %}" />
			</form>

			{% else %}
			<h2>Oops. Try Again.</h2>
			<p>{% trans "Password reset failed" %}</p>

			{% endif %}
        
        </div>
    </div>
    
   {% include "footer.html" %}




