html, body {
	height: 100%;
}

body {
	padding-top: 75px;
	padding-left: 175px;
	background: #EEEEEE;
	color:black;
}
p{
	color:black;
}
#notamember{
	color:white;

}
.navbar-default {
	background: #333333;
	border: 1px solid black;
	color:white;
}

.navbar-default .navbar-brand {
	color: #31DCE8;
	font-size:2.5em;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand:focus {
	color: #31DCE8;
}
.navbar-text{
	color:white;
}
.navbar-text a{
	text-decoration: none;
	color: #31DCE8;
}
.navbar-text a:hover {
	color: white;
}
#sidebar {
	position: fixed;
	left: 0;
	top: 0;
	width: 175px;
	height: 100%;
	background: #333333;
	border: 1px solid black;
	padding-top: 75px;
	overflow: auto;
}

#sidebar ul {
	padding: 0;
}

#sidebar a {
	display: block;
	text-decoration: none;
	color: #BBBBBB;
	text-indent: 20px;
    line-height: 50px;
}

#sidebar a:hover {
	color: white;
	background: black;
}

.thumbnail {
	position: relative;
	padding: 0;
	background: transparent;
}

.thumbnail .caption-wrapper {
	position: absolute;
	width: 100%;
	height: 50px;
	bottom: 0;
	padding: 5px 10px;
	background: black;
	background: rgba(0, 0, 0, 0.5);
	background: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgb(0, 0, 0));
  	background: -moz-linear-gradient(rgba(0, 0, 0, 0.3), rgb(0, 0, 0));
  	background: -o-linear-gradient(rgba(0, 0, 0, 0.3), rgb(0, 0, 0));
  	background: linear-gradient(rgba(0, 0, 0, 0.3), rgb(0, 0, 0));
  	-webkit-transition: all 0.3s;
  	-moz-transition: all 0.3s;
  	-o-transition: all 0.3s;
  	transition: all 0.3s;
  	overflow: hidden;
}

.thumbnail .caption-wrapper:hover {
	height: 100%;
}

.thumbnail .caption-wrapper .caption {
	width: 100%;
	height: 100%;
	overflow-y: hidden;
	color: white;
	padding: 0;
}

.thumbnail .caption-wrapper .caption:hover {
	overflow-y: auto;
}

.thumbnail .caption-wrapper .caption button {
	margin-bottom: 25px;
}

.pagination li a {
	color: #BBBBBB;
	background: #333333;
	border: 1px solid black;
}

.pagination li a:hover,
.pagination li a:active,
.pagination li a:focus {
	color: white;
	background: black;
	border: 1px solid white;
}

.pagination li.active a {
	color: #333333;
	background: #BBBBBB;
	border: 1px solid black;
}

.pagination li.active a:hover,
.pagination li.active a:active,
.pagination li.active a:focus {
	color: #333333;
	background: #BBBBBB;
	border: 1px solid white;
}

.pagination li.disabled a,
.pagination li.disabled a:hover,
.pagination li.disabled a:active,
.pagination li.disabled a:focus {
	color: #BBBBBB;
	background: #333333;
	border: 1px solid black;
}

.sliderWrapper {
	padding: 15px 15px;
	margin-bottom: 10px;
}