{% include "header.html" %}
{% load i18n %}
{% load staticfiles %}
{% load myfilters %}
<aside>
	{% include "sidebar.html" %}
</aside>

<div class="main text-center">
	{% for property in properties %}
		{% if forloop.counter0|divisibleby:4 %}
			<div class="row">
		{% endif %}
		<div class="col-xs-6 col-md-3">
			<div class="thumbnail">
				<a href="property/{{ property.id }}">
				{% if not property.image_name|length %}
					<img src="{% static 'img/demo.png' %}"></a>
				{% else %}
					<img src="{% static 'pub/img/' %}{{ property.image_name }}">
				{% endif %}
				<div class="caption-wrapper">
					<div class="caption">
						{{ property.title }}
						<hr>
						{{ property.text }}
					</div>
				</div>
			</div>
		</div>
		{% if forloop.counter|divisibleby:4 or forloop.counter == properties|length %}
			</div>
		{% endif %}
	{% endfor %}

	<ul class="pagination">
		<li {% if current_page == 1 %} class="disabled" {% endif %}>
			<a href="?p={{ current_page|subtract:1 }}">
				<span class="glyphicon glyphicon-chevron-left">
			</a>
		</li>
		{% if total_page_number <= 6 %}
			{% for i in 6|get_range %}
				{% if i < total_page_number %}
					<li {% if current_page == i|add:1 %} class="active" {% endif %}>
						<a href="?p={{ i|add:1 }}">{{ i|add:1 }}</a>
					</li>
				{% endif %}
			{% endfor %}
		{% elif current_page <= 4 %}
			{% for i in 5|get_range %}
				<li {% if current_page == i|add:1 %} class="active" {% endif %}>
					<a href="?p={{ i|add:1 }}">{{ i|add:1 }}</a>
				</li>
			{% endfor %}
			<li class="disabled"><a href="">...</a></li>
			<li><a href="?p={{ total_page_number }}">{{ total_page_number }}</a></li>
		{% elif current_page >= total_page_number|subtract:3 %}
			<li><a href="?p=1">1</a></li>
			<li class="disabled"><a href="">...</a></li>
			{% for i in 5|get_range %}
				<li {% if current_page == total_page_number|subtract:4|add:i %} class="active" {% endif %}>
					<a href="?p={{ total_page_number|subtract:4|add:i }}">{{ total_page_number|subtract:4|add:i }}</a>
				</li>
			{% endfor %}
		{% else %}
			<li><a href="?p=1">1</a></li>
			<li class="disabled"><a href="">...</a></li>
			<li><a href="?p={{ current_page|subtract:2 }}">{{ current_page|subtract:2 }}</a></li>
			<li><a href="?p={{ current_page|subtract:1 }}">{{ current_page|subtract:1 }}</a></li>
			<li class="active"><a href="">{{ current_page }}</a></li>
			<li><a href="?p={{ current_page|add:1 }}">{{ current_page|add:1 }}</a></li>
			<li><a href="?p={{ current_page|add:2 }}">{{ current_page|add:2 }}</a></li>
			<li class="disabled"><a href="">...</a></li>
			<li><a href="?p={{ total_page_number }}">{{ total_page_number }}</a></li>
		{% endif %}
		<li {% if current_page == total_page_number %} class="disabled" {% endif %}>
			<a href="?p={{ current_page|add:1 }}">
				<span class="glyphicon glyphicon-chevron-right">
			</a>
		</li>
	</ul>
</div>

{% include "footer.html" %}
