{% load i18n %}
<!DOCTYPE html>
<html>
<head>
	<title>OpenYard></title>
	{% include 'css/style.css' %}
	{% include 'js/openyard.js' %}
	
</head>
<body>
	<div style="float:left;">
		<h1>OpenYard</h1>
	</div>
	<div style="float:right;">
		<h3>
			{% if user.is_authenticated %}
       			{% trans "Logged in" %}: {{ user.username }} 
        		(<a href="{% url 'auth_logout' %}">{% trans "Log out" %}</a> | 
        		<a href="{% url 'auth_password_change' %}">{% trans "Change password" %}</a>)
    		{% else %}
       			<a href="{% url 'auth_login' %}">{% trans "Log in" %}</a>
    		{% endif %}
		</h3>
	</div>

  
   
</body
</html>

