{% include "header.html" %}
{% load i18n %}
{% load staticfiles %}
		<aside>
			{% include "sidebar.html" %}
		</aside>

		<div class="main text-center">

			<!-- DEMO CODE, should be deleted -->

			<div class="row">
				<div class="col-xs-6 col-md-3">
					<div class="thumbnail">
						<a href=""><img src="{% static 'img/demo.png' %}"></a>
						<div class="caption-wrapper">
							<div class="caption">
								01 ABC ROAD, TORONTO, ON, M1C 1A1
								<hr>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
								cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
								proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								<hr>
								<button type="button" class="btn btn-primary">Contact Host</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6 col-md-3">
					<div class="thumbnail">
						<a href=""><img src="{% static 'img/demo.png' %}"></a>
						<div class="caption-wrapper">
							<div class="caption">
								01 ABC ROAD, TORONTO, ON, M1C 1A1
								<hr>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
								cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
								proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								<hr>
								<button type="button" class="btn btn-primary">Contact Host</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6 col-md-3">
					<div class="thumbnail">
						<a href=""><img src="{% static 'img/demo.png' %}"></a>
						<div class="caption-wrapper">
							<div class="caption">
								01 ABC ROAD, TORONTO, ON, M1C 1A1
								<hr>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
								cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
								proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								<hr>
								<button type="button" class="btn btn-primary">Contact Host</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6 col-md-3">
					<div class="thumbnail">
						<a href=""><img src="{% static 'img/demo.png' %}"></a>
						<div class="caption-wrapper">
							<div class="caption">
								01 ABC ROAD, TORONTO, ON, M1C 1A1
								<hr>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
								cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
								proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								<hr>
								<button type="button" class="btn btn-primary">Contact Host</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6 col-md-3">
					<div class="thumbnail">
						<a href=""><img src="{% static 'img/demo.png' %}"></a>
						<div class="caption-wrapper">
							<div class="caption">
								01 ABC ROAD, TORONTO, ON, M1C 1A1
								<hr>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
								cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
								proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								<hr>
								<button type="button" class="btn btn-primary">Contact Host</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6 col-md-3">
					<div class="thumbnail">
						<a href=""><img src="{% static 'img/demo.png' %}"></a>
						<div class="caption-wrapper">
							<div class="caption">
								01 ABC ROAD, TORONTO, ON, M1C 1A1
								<hr>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
								cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
								proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								<hr>
								<button type="button" class="btn btn-primary">Contact Host</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6 col-md-3">
					<div class="thumbnail">
						<a href=""><img src="{% static 'img/demo.png' %}"></a>
						<div class="caption-wrapper">
							<div class="caption">
								01 ABC ROAD, TORONTO, ON, M1C 1A1
								<hr>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
								cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
								proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								<hr>
								<button type="button" class="btn btn-primary">Contact Host</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6 col-md-3">
					<div class="thumbnail">
						<a href=""><img src="{% static 'img/demo.png' %}"></a>
						<div class="caption-wrapper">
							<div class="caption">
								01 ABC ROAD, TORONTO, ON, M1C 1A1
								<hr>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
								cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
								proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								<hr>
								<button type="button" class="btn btn-primary">Contact Host</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6 col-md-3">
					<div class="thumbnail">
						<a href=""><img src="{% static 'img/demo.png' %}"></a>
						<div class="caption-wrapper">
							<div class="caption">
								01 ABC ROAD, TORONTO, ON, M1C 1A1
								<hr>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
								cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
								proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								<hr>
								<button type="button" class="btn btn-primary">Contact Host</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6 col-md-3">
					<div class="thumbnail">
						<a href=""><img src="{% static 'img/demo.png' %}"></a>
						<div class="caption-wrapper">
							<div class="caption">
								01 ABC ROAD, TORONTO, ON, M1C 1A1
								<hr>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
								cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
								proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								<hr>
								<button type="button" class="btn btn-primary">Contact Host</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6 col-md-3">
					<div class="thumbnail">
						<a href=""><img src="{% static 'img/demo.png' %}"></a>
						<div class="caption-wrapper">
							<div class="caption">
								01 ABC ROAD, TORONTO, ON, M1C 1A1
								<hr>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
								cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
								proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								<hr>
								<button type="button" class="btn btn-primary">Contact Host</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6 col-md-3">
					<div class="thumbnail">
						<a href=""><img src="{% static 'img/demo.png' %}"></a>
						<div class="caption-wrapper">
							<div class="caption">
								01 ABC ROAD, TORONTO, ON, M1C 1A1
								<hr>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
								cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
								proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								<hr>
								<button type="button" class="btn btn-primary">Contact Host</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6 col-md-3">
					<div class="thumbnail">
						<a href=""><img src="{% static 'img/demo.png' %}"></a>
						<div class="caption-wrapper">
							<div class="caption">
								01 ABC ROAD, TORONTO, ON, M1C 1A1
								<hr>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
								cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
								proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								<hr>
								<button type="button" class="btn btn-primary">Contact Host</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6 col-md-3">
					<div class="thumbnail">
						<a href=""><img src="{% static 'img/demo.png' %}"></a>
						<div class="caption-wrapper">
							<div class="caption">
								01 ABC ROAD, TORONTO, ON, M1C 1A1
								<hr>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
								cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
								proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								<hr>
								<button type="button" class="btn btn-primary">Contact Host</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6 col-md-3">
					<div class="thumbnail">
						<a href=""><img src="{% static 'img/demo.png' %}"></a>
						<div class="caption-wrapper">
							<div class="caption">
								01 ABC ROAD, TORONTO, ON, M1C 1A1
								<hr>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
								cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
								proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								<hr>
								<button type="button" class="btn btn-primary">Contact Host</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6 col-md-3">
					<div class="thumbnail">
						<a href=""><img src="{% static 'img/demo.png' %}"></a>
						<div class="caption-wrapper">
							<div class="caption">
								01 ABC ROAD, TORONTO, ON, M1C 1A1
								<hr>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
								cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
								proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								<hr>
								<button type="button" class="btn btn-primary">Contact Host</button>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- DEMO CODE ENDS HERE -->

			<ul class="pagination">
				<li><a href="">&laquo;</a></li>
				<li class="active"><a href="">1</a></li>
				<li><a href="">2</a></li>
				<li><a href="">3</a></li>
				<li><a href="">4</a></li>
				<li><a href="">5</a></li>
				<li class="disabled"><a href="">...</a></li>
				<li><a href="">100</a></li>
				<li><a href="">&raquo;</a></li>
			</ul>
		</div>
	</div>

	{% include "footer.html" %}
</body>
</html>