{% include "header.html" %}
{% load i18n %}
{% load staticfiles %}
{% load myfilters %}
<aside>
	{% include "sidebar.html" %}
</aside>

<div class="container-fluid" id="profileMain">
	<div class="info text-center">
		<p>{{ username }}</p>
		{% for i in avg_rating|floatformat:"0"|get_range %}
			<span class="glyphicon glyphicon-star"></span>
		{% endfor %}
		<span>&nbsp;&nbsp;&nbsp;{{ avg_rating|floatformat }} / 5</span>
	</div>

	<ul class="nav nav-tabs nav-justified" id="myTab">
		<li class="active"><a data-toggle="tab" href="#properties">Properties</a></li>
		<li><a data-toggle="tab" href="#reviews">Reviews</a></li>
	</ul>

	<div class="tab-content">
		<div id="properties" class="tab-pane fade in active">
			{% for property in properties %}
				
					<div class="row">
				
					<div class="col-xs-4">
						<div class="col-xs-12">
							<span class="field-small">Title: </span>{{ property.title }}
						</div>
						<div class="col-xs-12">
							<span class="field-small">Address: </span>{{ property.address }}, {{ property.city }}, {{ property.province }}
						</div>
						<div class="col-xs-12">
							<span class="field-small">Size: </span>{{ property.size }}
						</div>
						<div class="col-xs-12">
							<span class="field-small">Description: </span>{{ property.text }}
						</div>
						<div class="col-xs-12">
							<span class="field-small">Date added: </span>{{ property.date_added }}
						</div>
					</div>
					<div class="col-xs-6 col-xs-offset-2">
						<div class="thumbnail">
							<a href="/property/{{ property.id }}">
								{% if not property.image_name|length %}
									<img src="{% static 'img/demo.png' %}" width="250px" height="250px"></a>
								{% else %}
									<img src="{% static 'pub/img/' %}{{ property.image_name }}" width="250px" height="250px">
								{% endif %}
							</a>
						</div>
					</div>
				
					</div>
				
			{% endfor %}
		</div>
		
		<div id="reviews" class="tab-pane fade">
		<div style="margin-left:150px;">
			{% for review in reviews %}
			{% if forloop.counter0|divisibleby:4 %}
				<div class="row">
			{% endif %}
				<div class="col-xs-3">
                    <div class="col-xs-12">
                        <a href="/property/{{ review.property.id }}">
                            {{ review.property.title }}
                        </a>
                    </div>
				</div>
				<div class="col-xs-9">
					<div class="col-xs-12">
						{% for i in review.rating|get_range %}
							<span class="glyphicon glyphicon-star"></span>
						{% endfor %}
						{% for i in 5|subtract:review.rating|get_range %}
							<span class="glyphicon glyphicon-star-empty"></span>
						{% endfor %}
					</div>
					<div class="col-xs-12">
						{{ review.text }}
					</div>
				</div>
				{% if forloop.counter|divisibleby:4 or forloop.counter == reviews|length %}
					</div>
				{% endif %}
			{% endfor %}
			
			<ul class="pagination" >
				<li {% if current_page == 1 %} class="disabled" {% endif %}>
					<a href="?p={{ current_page|subtract:1 }}#reviews">
						<span class="glyphicon glyphicon-chevron-left">
					</a>
				</li>
				{% if total_page_number <= 6 %}
					{% for i in 6|get_range %}
						{% if i < total_page_number %}
							<li {% if current_page == i|add:1 %} class="active" {% endif %}>
								<a href="?p={{ i|add:1 }}#reviews">{{ i|add:1 }}</a>
							</li>
						{% endif %}
					{% endfor %}
				{% elif current_page <= 4 %}
					{% for i in 5|get_range %}
						<li {% if current_page == i|add:1 %} class="active" {% endif %}>
							<a href="?p={{ i|add:1 }}#reviews">{{ i|add:1 }}</a>
						</li>
					{% endfor %}
					<li class="disabled"><a href="">...</a></li>
					<li><a href="?p={{ total_page_number }}#reviews">{{ total_page_number }}</a></li>
				{% elif current_page >= total_page_number|subtract:3 %}
					<li><a href="?p=1#reviews">1</a></li>
					<li class="disabled"><a href="">...</a></li>
					{% for i in 5|get_range %}
						<li {% if current_page == total_page_number|subtract:4|add:i %} class="active" {% endif %}>
							<a href="?p={{ total_page_number|subtract:4|add:i }}#reviews">{{ total_page_number|subtract:4|add:i }}</a>
						</li>
					{% endfor %}
				{% else %}
					<li><a href="?p=1"#reviews>1</a></li>
					<li class="disabled"><a href="">...</a></li>
					<li><a href="?p={{ current_page|subtract:2 }}#reviews">{{ current_page|subtract:2 }}</a></li>
					<li><a href="?p={{ current_page|subtract:1 }}#reviews">{{ current_page|subtract:1 }}</a></li>
					<li class="active"><a href="">{{ current_page }}</a></li>
					<li><a href="?p={{ current_page|add:1 }}#reviews">{{ current_page|add:1 }}</a></li>
					<li><a href="?p={{ current_page|add:2 }}#reviews">{{ current_page|add:2 }}</a></li>
					<li class="disabled"><a href="">...</a></li>
					<li><a href="?p={{ total_page_number }}#reviews">{{ total_page_number }}</a></li>
				{% endif %}
				<li {% if current_page == total_page_number %} class="disabled" {% endif %}>
					<a href="?p={{ current_page|add:1 }}#reviews">
						<span class="glyphicon glyphicon-chevron-right">
					</a>
				</li>
			</ul>
			</div>
		</div>
	</div>
</div>

{% include "footer.html" %}
