{% include "header.html" %}

    <div class="container-fluid">
        <aside>
            <div id="sidebar">
                {% include "sidebar.html" %}
            </div>
        </aside>

        <div class="main">
            <div class="form-group">
                <label for="province">Province:</label>
                <select class="form-control" id="province">
                    <option>ON</option>
                    <option>AB</option>
                    <option>CD</option>
                    <option>EF</option>
                </select>
            </div>
            <div class="form-group">
                <label for="city">City:</label>
                <select class="form-control" id="city">
                    <option>Toronto</option>
                    <option>Ottawa</option>
                    <option>Winnipeg</option>
                    <option>Oshawa</option>
                </select>
            </div>
            <div class="form-group">
                <label for="size">Size:</label>
                <div class="sliderWrapper">
                    <input type="text" class="slider"
                           data-slider-min="10" data-slider-max="100"
                           data-slider-step="5" data-slider-value="[10, 100]">
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
    </div>
	{% include "footer.html" %}
   