{% include "header.html" %}
{% load staticfiles %}
    <div class="container-fluid">
        <aside>
            <div id="sidebar">
                {% include "sidebar.html" %}
            </div>
        </aside>

        <div class="main">
            <h3>Search our Website</h3>
            <form role="form" id="searchform" method="get" enctype="multipart/form-data"> {% csrf_token %}
                <div class="form-group">
                <input type="text" id="search" name="search"
                       placeholder="Title and body search" />
                </div>
                <div class="form-group">
                    <label for="province">Province:</label>
                    <input type="text" id="s_province" name="s_province"
                       placeholder="Eg. Ontario" />
                </div>
                <div class="form-group">
                    <label for="city">City:</label>
                    <input type="text" id="s_city" name="s_city"
                       placeholder="Eg. Toronto" />
                </div>
                <div class="form-group">
                    <label for="size">Size:</label>
                    <div class="sliderWrapper">
                        <input type="text" class="slider" id="s_size" name="s_size"
                               data-slider-min="0" data-slider-max="1000"
                               data-slider-step="5" data-slider-value="[0, 1000]">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
            <div id="search-results">
            {% for property in found_entries %}
                <hr>
                <div class="row">
                    <div class="col-xs-4">
                        <div class="col-xs-12">
                            <span class="field-small">Title: </span>{{ property.title }}
                        </div>
                        <div class="col-xs-12">
                            <span class="field-small">Address: </span>{{ property.address }}, {{ property.city }}, {{ property.province }}
                        </div>
                        <div class="col-xs-12">
                            <span class="field-small">Size: </span>{{ property.size }}
                        </div>
                    </div>
                    <div class="col-xs-6 col-xs-offset-2">
                        <div class="thumbnail">
                            <a href="/property/{{ property.id }}">
                                {% if not property.image_name|length %}
                                    <img src="{% static 'img/demo.png' %}" width="250px" height="250px"></a>
                                {% else %}
                                    <img src="{% static 'pub/img/' %}{{ property.image_name }}" width="250px" height="250px">
                                {% endif %}
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
	{% include "footer.html" %}

